@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    margin-left: 100px;
}
.calculator
{
    border: 0.5px solid rgb(164, 191, 184);
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);

}
input{
    width: 320px;
    border-radius:9px;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 0px 3px ;
    font-size: 40px;
    text-align:right ;
    cursor: pointer;
    color: rgb(216, 244, 244);
}
input::placeholder
{
    color: white;

}
button{
    border:none;
    width: 60px;
    height: 60px;
    margin: 9px;
    border-radius: 40%;
    background: transparent;
    color: white;
    font-size: 23px;
    cursor: pointer;
    border:0.1px solid rgb(233, 230, 230) ;
}
.equalbtn
{
    background-color:orange;
}
.ac{
    background-color: rgb(128, 89, 89);
}
.delete{
    background-color: rgb(147, 62, 62);
}

.button{
    background-color:#5a6d6b;
}
.signiture{
    margin-top: 650px;
   
    color: rgb(160, 96, 96);
    border: transparent;
    border: 1px thin white;
}